<footer>
    <div class="f-info sticky-bottom border-top">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/shubho.j.dey"> <i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/mr.shubho_/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/shubhojit-dey/"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <div class="f-info-brand">&copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="https://policies.google.com/privacy?hl=en-US">Privacy</a>
            <a href="https://policies.google.com/terms?hl=en-US">Terms</a>
        </div>
    </div>
</footer>